body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    
}

.btn-container button {
    background-color: blue;
    color: white;
    border: unset;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

.btn-container button[color="red"] {
    background-color: red;
}

.btn-container button:hover {
    transform: scale(1.05);
}

.btn-container button:active {
    transform: scale(1.08);
}

.square {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(12, 157, 200);
    cursor: pointer;
}

.searched-node {
    animation: changeBg 800ms 1;
    margin: auto;
    background-color: blue;
    width: 100%;
    height: 100%;
}

@keyframes changeBg {
    0% {
        width: 30%;
        height: 30%;
        border-radius: 50%;
        background-color: rgb(87, 0, 125);
    }
    50% {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        background-color: rgb(117, 209, 255);
    }
    100% {
        width: 100%;
        height: 100%;
        background-color: blue;
    }
}
